.content {
    position: relative;
    z-index: 3;
  }

  #snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 35%; 
    top: 80vh;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 70%; 
    top: 80vh;
    -webkit-transition: all 0.3s ease-out;
  }
#bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* height: 100vh; */
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(./291de5d2aac98028a7c1d139298a3b46.jpg);
  background-size: cover;
  background-position: 50%;
  -webkit-filter: blur(4px);
}
.divContainer
{
    vertical-align: middle;
    text-align: center; <!-- If you want horizontal center alignment -->
}
.divContainer > *
{
    vertical-align: middle;
}
.swal2-image{
  object-fit: contain;
}

.swal2-title, .swal2-content{
  color: azure !important;
}
.swal2-popup {
  border-radius: 10px !important;
}

header h2 {
  color: pink;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  text-align: center;
	margin-bottom: 30px;
}
header h4 {
  color: pink;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  header h2 {
    
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
  }
  header h4 {
    
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 15px;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 7%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 58%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
  }
}

.swal2-backdrop-show{
  background-size: 100px 100px !important;
}
