#demo-1, #demo-2, #demo-3 {
    font-family: 'Jura', sans-serif;
    color: #FAFAFA;
    text-shadow: 0 0 0.5em cyan, 0 0 0.5em cyan;
    padding: 20px;
    font-size: 37px;
    text-align: center;
    opacity: 0;
}

@keyframes heartFall {
    0% {
        top: -30px;
        transform: rotate(0deg) translateX(0);
    }
    25% {
        transform: rotate(15deg) translateX(10px);
    }
    50% {
        transform: rotate(-15deg) translateX(-10px);
    }
    75% {
        transform: rotate(10deg) translateX(5px);
    }
    100% {
        top: 110vh;
        transform: rotate(0deg) translateX(0);
    }
}
